
body{
    /* background: #050319; */
    background-image: url('/img/BG.png');
    background-size: cover;
}
/* .card-glass{
    background-color: #1e1e1f ;
    border: 1px solid #383838;
    border-radius: 20px;
    box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
    padding: rem(30px);
    position: relative;
} */
.card-glass{
    border-radius: 20px;
    /* border: 1px solid var(--Neutral-02-Black-Neutral-03, #222426); */
    background: hsla(0,0%,100%,.05)!important;
    /* background: rgba(34, 36, 38, 0.40); */
    /* box-shadow: rgba(0,0,0,.16); */
    transition: all 0.4s;
    position: relative;
    z-index: 9;
    
}
.avatar-profile{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15% !important;
}
.text-primary{
    color: #382bc3;
}
.avatar-skill{
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.asprect-ratio-1-1{
    aspect-ratio: 1/1;
    object-fit: cover;
}
.object-cover{
    object-fit: cover;
}